<div class="landing-container">
  <div>
    <mat-toolbar color="primary" class="header"> </mat-toolbar>

    <div class="hero">
      <div class="hero-content">
        <h1>SecurityApp -Registro de Agentes-</h1>
        <p class="subtitle">
          Plataforma exclusiva para el departamento de seguridad
        </p>
      </div>
    </div>

    <div class="features">
      <mat-card class="feature-card">
        <mat-card-header>
          <div mat-card-avatar class="feature-icon">
            <mat-icon>security</mat-icon>
          </div>
          <mat-card-title>Gestión Personal Seguridad</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Manejo completo del personal</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="feature-card">
        <mat-card-header>
          <div mat-card-avatar class="feature-icon">
            <mat-icon>verified_user</mat-icon>
          </div>
          <mat-card-title>Accesos Verificados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Sistema de autenticación para personal autorizado</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="feature-card">
        <mat-card-header>
          <div mat-card-avatar class="feature-icon">
            <mat-icon>report</mat-icon>
          </div>
          <mat-card-title>Reportes en Tiempo Real</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Generación de informes de incidentes de seguridad</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
