<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="card-header">
      <img src="logo-semma.png" alt="Hospital Docente Semma" class="logo" />
      <mat-card-title class="card-title">Acceso al Sistema</mat-card-title>
      <mat-card-subtitle class="card-subtitle"
        >Departamento de Seguridad</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content class="card-content">
      <form class="login-form">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label class="form-label">Codigo </mat-label>
          <input matInput type="email" [formControl]="form.controls.codigo" />
          <mat-icon matSuffix class="form-icon">key</mat-icon>
          <mat-error class="form-error">{{ errorCodigo() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label class="form-label">Contraseña</mat-label>
          <input
            matInput
            type="password"
            [formControl]="form.controls.password"
          />
          <mat-icon matSuffix class="form-icon">lock</mat-icon>
          <mat-error class="form-error">{{ errorPassword() }}</mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="login-button"
        >
          Iniciar Sesión
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      <span class="spacer"></span>
    </mat-card-actions>
  </mat-card>
</div>
