<mat-toolbar>
  <span>
    <a mat-button routerLink="/home" class="menu-button"
      ><mat-icon>home</mat-icon> Inicio
    </a>
    <a mat-button routerLink="/agents" class="menu-button"
      ><mat-icon>local_police</mat-icon> Agentes</a
    >
    <a mat-button routerLink="/ranges" class="menu-button">
      <mat-icon>shield</mat-icon> Rangos</a
    >
    <a mat-button routerLink="/users" class="menu-button"
      ><mat-icon>apartment</mat-icon> Instituciones</a
    >
    <a mat-button routerLink="/login" class="menu-button"
      ><mat-icon>login</mat-icon> Login</a
    >
  </span>
</mat-toolbar>
