<h2>Listado Agentes</h2>
<button mat-flat-button routerLink="/agents/create">
  <mat-icon>person_add</mat-icon> Crear Agente
</button>
<app-generic-list [items]="agents">
  <ng-container content>
    <table
      mat-table
      [dataSource]="agents"
      class="mat-elevation-z8 agent-elements"
    >
      <ng-container matColumnDef="AgentId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let agent">{{ agent.agentId }}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let agent">{{ agent.name | uppercase }}</td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let agent">{{ agent.email }}</td>
      </ng-container>

      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let agent">{{ agent.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="Photo">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let agent">{{ agent.photo }}</td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let agent">
          <a routerLink="/agents/edit/{{ agent.agentId }}" mat-flat-button
            >Editar</a
          >
          <button
            mat-flat-button
            color="warn"
            [swal]="{
              title: '¿Estás seguro?',
              text: 'Esta acción no se puede deshacer.',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Sí, borrar',
              cancelButtonText: 'Cancelar'
            }"
            (confirm)="deleteAgent(agent.agentId)"
          >
            Borrar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator
      showFirstLastButtons
      [length]="totalCount"
      [pageSize]="pagination.recordsPerPage"
      [pageSizeOptions]="[5, 10, 50]"
      class="mat-elevation-z8"
      (page)="onPaginateChange($event)"
    ></mat-paginator>
  </ng-container>
</app-generic-list>

<!-- <div class="agent-list-header">
  @if (!agents) {
  <div style="align-items: center">
    <img src="pendulum.gif" alt="" />
  </div>

  }@else{
  <button mat-flat-button routerLink="/agents/create">
    <mat-icon>person_add</mat-icon> Crear Agente
  </button>

  <mat-divider></mat-divider>}
</div>
<section>
  @for (agent of agents; track $index) {
  <div class="user-list">
    <mat-card class="user-card">
      <div class="user-header">
        <img
          class="avatar"
          [src]="agent.photo"
          alt="Foto de {{ agent.name }}"
        />
        <div
          class="user-details"
          [ngClass]="{ 'user-card-inactive': !agent.status }"
        >
          <h2>{{ agent.lastName | uppercase }}</h2>
          <h3>{{ agent.name | uppercase }}</h3>
          <p class="role">{{ agent.rangeName }}</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="extra-info">
        <p>📅 Ingreso: {{ agent.birthday | date }}</p>
        <p>📧 Email: {{ agent.email }}</p>
      </div>

      <div class="user-actions">
        <button mat-stroked-button color="primary">Editar</button>
        <button mat-stroked-button color="warn">Eliminar</button>
      </div>
    </mat-card>
  </div>

  }
</section> -->
