<h2>Listado Agentes</h2>

<section>
  @if (agents.length === 0) {
  <div style="align-items: center">
    <img src="pendulum.gif" alt="" />
  </div>

  }@else{
  <button mat-flat-button routerLink="/create-agent">
    <mat-icon>person_add</mat-icon> Crear Agente
  </button>
  <br /><br />
  @for (agent of agents; track $index) {
  <div class="user-list">
    <mat-card class="user-card">
      <div class="user-header">
        <img
          class="avatar"
          [src]="agent.photo"
          alt="Foto de {{ agent.name }}"
        />
        <div
          class="user-details"
          [ngClass]="{ 'user-card-inactive': !agent.status }"
        >
          <h2>{{ agent.lastName | uppercase }}</h2>
          <h3>{{ agent.name | uppercase }}</h3>
          <p class="role">{{ agent.rangeName }}</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="extra-info">
        <p>📅 Ingreso: {{ agent.birthday | date }}</p>
        <p>📧 Email: {{ agent.email }}</p>
      </div>

      <div class="user-actions">
        <button mat-stroked-button color="primary">Editar</button>
        <button mat-stroked-button color="warn">Eliminar</button>
      </div>
    </mat-card>
  </div>

  } }
</section>
