
.delete-button {
    
    background: transparent;
    
    background-color: red;
  }
.agent-elements {
  margin-top: 1rem;
}
.agent-elements a{
  margin-right: 1rem;
}
.user-list {
    display: inline-flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
  }
  
  .user-card {
    padding: 1rem;
    border-radius: 1rem;    
    background-color: #ffffff;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  }
  
  .user-card-inactive { 
    color: #9e5151;    
  }
  .user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
  
  .user-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .avatar {
    width: 120px;
    height: 160px;
    border-radius: 25%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  .user-details h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .email {
    font-size: 0.9rem;
    color: #666;
  }
  
  .role {
    font-size: 0.8rem;
    color: #888;
  }
  
  mat-divider {
    margin: 10px 0;
  }
  
  .extra-info {
    font-size: 0.85rem;
    color: #444;
    margin-bottom: 1rem;
  }
  
  .user-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  /* 🌙 Modo oscuro automático */
  @media (prefers-color-scheme: dark) {
    .user-card {
      background-color: #1e1e1e;
      color: #eee;
    }
  
    .email,
    .role,
    .extra-info {
      color: #aaa;
    }
  
    .avatar {
      border-color: #555;
    }


  }
  .agent-list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    
    
    color: #eee;
 
  }
 