<div class="agentes-form-container">
  <h2>Crear Nuevo Agente</h2>
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombres</mat-label>
      <input matInput placeholder="Nombres" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Apellidos" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput type="tel" placeholder="809-000-0000" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cédula</mat-label>
      <input matInput placeholder="000-0000000-0" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Opcional" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha de nacimiento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Seleccione una fecha"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle color="primary">Activo</mat-slide-toggle>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Rango</mat-label>
      <mat-select required>
        <mat-option value="raso">Raso</mat-option>
        <mat-option value="cabo">Cabo</mat-option>
        <mat-option value="sargento">Sargento</mat-option>
        <mat-option value="teniente">Teniente</mat-option>
        <mat-option value="capitan">Capitán</mat-option>
        <mat-option value="mayor">Mayor</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="full-width">
      <label for="foto">Foto</label><br />
      <input type="file" id="foto" name="foto" accept="image/*" />
    </div>

    <button mat-raised-button color="primary">Guardar</button>
  </form>
</div>

<div class="row" style="display: inline-flex; flex-direction: row; gap: 10px">
  <form (submit)="saveChange()" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label> Nombres </mat-label>
      <input matInput [formControl]="form.controls.name" />
      <mat-error>{{ errorName() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Apellidos </mat-label>
      <input matInput [formControl]="form.controls.lastName" />
      <mat-error>{{ errorLastName() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Telefono </mat-label>
      <input matInput [formControl]="form.controls.phone" />
      <mat-error></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Cedula </mat-label>
      <input matInput [formControl]="form.controls.identification" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Email</mat-label>
      <input matInput [formControl]="form.controls.email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Fecha Nacimiento </mat-label>
      <input matInput type="date" [formControl]="form.controls.birthday" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Activo </mat-label>
      <input matInput [formControl]="form.controls.status" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Foto </mat-label>
      <input matInput [formControl]="form.controls.photo" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Rango </mat-label>
      <input matInput [formControl]="form.controls.rangeId" type="number" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Agente Id </mat-label>
      <input matInput [formControl]="form.controls.agentId" type="number" />
    </mat-form-field>

    <div class="bottomContainer">
      <button type="submit" mat-flat-button [disabled]="form.invalid">
        Guardar Cambios
      </button>
      <a mat-stroked-button routerLink="">Cancelar</a>
    </div>
  </form>
</div>
