.agentes-form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .agentes-form-container h2 {
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
a{
    margin-left: 1rem;
}

.bottomContainer{
    justify-content: space-between;
    margin-top: 1rem;
}